{% extends "base.html.j2" %}
{% block content %}
  {% if firstname and lastname %}
    <h3>Hello {{firstname}} {{lastname}}</h3>
  {% endif %}
  <div class="jumbotron text-center">
    <h1>This is index page</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="{{url_for('random_restaurant')}}" role="button">Random Restaurant</a></p>
  </div>
{% endblock %}
